<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Content</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="postId"><%= post.id %></h2>
    <h3 class="user"><%= post.username %></h3>
    <form method="post" action="http://localhost:3000/posts/<%= post.id %>?_method=PATCH" >
        <textarea name="content" id=""> <%= post.content %></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>